<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="milu.kiriu2010.excon1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <!-- android:theme="@style/AppTheme" -->

        <activity android:name=".MainActivity">

        <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".a00.A00Activity" />
        <activity android:name=".a14.A14Activity" />
        <activity
            android:name=".a02.A02Activity"
            android:label="@string/TITLE_A02"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".a03.A03Activity" />
        <activity android:name=".a04.A04Activity" />
        <receiver android:name=".a04.A04BroadcastReceiver" />
        <activity
            android:name=".a05.A05Activity"
            android:label="@string/TITLE_A05"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".a06.A06Activity"
            android:theme="@style/AppThemeOrange" />
        <activity android:name=".a07.A07Activity" />
        <activity android:name=".a07.A07AActivity" />


        <activity android:name=".a15.A15RActivity" />
        <activity android:name=".a13.A13Activity" />
        <activity android:name=".a15.A15Activity" />
        <activity android:name=".a11.A11Activity" />
        <activity android:name=".a16.A16Activity" />
        <activity android:name=".a17.A17Activity" />
        <activity android:name=".a08.A08Activity" />
        <activity android:name=".a09.A09Activity" />
        <activity android:name=".a10.A10Activity" />
        <activity
            android:name=".a12.A12Activity"
            android:theme="@style/AppTheme.AppThemeSaintTropez" />

        <activity android:name=".a18.A18Activity" />

        <service
            android:name=".a18.A18ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".a18.A18DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".a18.MyIntentService"
            android:exported="false" />

        <activity android:name=".gaction.GactionActivity" />
        <activity android:name=".gshooting.GshootingActivity" />
        <activity android:name=".glabyrinth.GlabyrinthActivity"></activity>
    </application>

</manifest>