<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="milu.kiriu2010.excon1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/cat"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->

        <activity android:name=".MainActivity">

        <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".team.UserAddActivity" />
        <activity android:name=".team.TeamActivity" />
        <activity android:name=".image.ImageActivity" />
        <activity android:name=".team.TeamListActivity" />
        <activity android:name=".file.XMLActivity" />
        <activity
            android:name=".a02.A02Activity"
            android:label="@string/title_activity_http_get"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".file.JsonActivity"
            android:label="@string/title_activity_json"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".a03.A03Activity" />
        <activity android:name=".clock.WorldClockActivity" />
        <activity android:name=".a03.TimeZoneSelectActivity" />
        <activity android:name=".a03.RecycleTimeZoneActivity" />
        <activity android:name=".file.FileRecycleActivity" />
        <activity android:name=".counter.CounterActivity" />
        <activity android:name=".memo.MemoActivity" />
        <activity android:name=".accball.AccBallActivity" />
        <activity android:name=".slide.SlideShowActivity" />
        <activity
            android:name=".countdown.CountDownActivity"
            android:theme="@style/AppThemeOrange" />
        <activity
            android:name=".saintropez.SaintTropezActivity"
            android:theme="@style/AppTheme.AppThemeSaintTropez" />
        <activity android:name=".alarm.AlarmClockActivity" />

        <receiver android:name=".alarm.AlarmBroadcastReceiver" />

        <activity android:name=".notify.NotifyActivity" />

        <service
            android:name=".notify.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".notify.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".notify.MyIntentService"
            android:exported="false" />

        <activity android:name=".gaction.GactionActivity" />
        <activity android:name=".gshooting.GshootingActivity" />
        <activity android:name=".glabyrinth.GlabyrinthActivity"></activity>
    </application>

</manifest>