<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.milu.intent2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.milu.excon1.MainActivity">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.milu.excon1.UserAddActivity" />
        <activity android:name="com.example.milu.excon1.TeamActivity" />
        <activity android:name="com.example.milu.excon1.ImageActivity" />
        <activity android:name="com.example.milu.excon1.TeamListActivity" />
        <activity android:name="com.example.milu.excon1.XMLActivity" />
        <activity
            android:name="com.example.milu.excon1.HttpActivity"
            android:label="@string/title_activity_http_get"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.milu.excon1.JsonActivity"
            android:label="@string/title_activity_json"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.milu.excon1.ListTimeZoneActivity" />
        <activity android:name="com.example.milu.excon1.WorldClockActivity" />
        <activity android:name="com.example.milu.excon1.TimeZoneSelectActivity" />
        <activity android:name="com.example.milu.excon1.RecycleTimeZoneActivity" />
        <activity android:name="com.example.milu.excon1.FileRecycleActivity" />
        <activity android:name="com.example.milu.excon1.CounterActivity" />
        <activity android:name="com.example.milu.excon1.MemoActivity"></activity>
    </application>

</manifest>