<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="milu.kiriu2010.exdb1">
    <!-- uses-feature android:glEsVersion="0x00020000" android:required="true" / -->
    <!-- uses-feature android:glEsVersion="0x00030000" android:required="true" / -->
    <uses-feature
        android:glEsVersion="0x00030002"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:name=".scheduler.MyScheduleApplication"
        android:allowBackup="true"
        android:icon="@drawable/texture_w027_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".a0x.A0XActivity"
            android:label="@string/BTN_A0X" />
        <activity
            android:name=".b0x.B0XActivity"
            android:label="@string/BTN_B0X" />
        <activity
            android:name=".c0x.C0XActivity"
            android:label="@string/BTN_C0X" />
        <activity
            android:name=".d0x.D0XActivity"
            android:label="@string/BTN_D0X" />


        <activity android:name=".es32x01.ES32x01Activity" />
        <activity
            android:name=".es30x01.ES30x01Activity"
            android:hardwareAccelerated="false" />
        <activity android:name=".es30x02.ES30x02Activity" />
        <activity android:name=".opengl01.OpenGL01Activity" />
        <activity android:name=".opengl02.OpenGL02Activity" />
        <activity android:name=".opengl03.OpenGL03Activity" />
        <activity android:name=".opengl04.OpenGL04Activity" />
        <activity android:name=".opengl05.OpenGL05Activity" />
        <activity android:name=".opengl06.OpenGL06Activity" />
        <activity android:name=".opengl07.OpenGL07Activity" />
        <activity android:name=".opengl08.OpenGL08Activity" />
        <activity android:name=".glsl01.GLSL01Activity" />
        <activity android:name=".glsl02.GLSL02Activity" />
        <activity
            android:name=".scheduler.SchedulerActivity"
            android:label="@string/title_activity_scheduler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sqlite.SQLite01Activity" />
        <activity android:name=".scheduler.ScheduleEditActivity" />
        <activity
            android:name=".mgl01.Mgl01Activity"
            android:label="@string/title_activity_mgl01" />
        <activity
            android:name=".mgl00.Mgl00Activity"
            android:label="@string/title_activity_mgl00" />
    </application>

</manifest>