<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="milu.kiriu2010.excon2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    　　


    <uses-feature android:name="android.hardware.camere" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/dado3d"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dado3d"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BossActivity"
            android:theme="@style/Theme.ChildTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen1.MainActivity" />
        <activity android:name=".screen1.recycler.RecycleActivity" />
        <activity
            android:name=".screen1.rate.RateActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".screen1.animescale.AnimeScaleActivity" />
        <activity android:name=".screen1.seek.SeekActivity" />
        <activity android:name=".screen1.contextmenu.ContextMenuActivity" />
        <activity android:name=".screen1.temperature.TemperatureActivity" />
        <activity android:name=".screen1.stopwatch.StopWatchActivity" />
        <activity
            android:name=".screen1.customactionbar.CustomActionBarActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".screen1.dice.DiceRollerActivity" />
        <activity android:name=".screen1.largebmp.LargeBmpActivity" />
        <activity android:name=".screen1.traffic.TrafficLightActivity" />
        <activity android:name=".screen1.fibonnaci.FibonnaciActivity" />
        <activity android:name=".screen1.scan.ScanBarcodeActivity" />
        <activity android:name=".screen1.websearch.WebSearchActivity" />
        <activity android:name=".screen1.pinch.PinchActivity" />
        <activity android:name=".screen1.sensortemp.SensorTemperatureActivity" />
        <activity android:name=".screen1.sensorlight.SensorLightActivity" />
        <activity android:name=".screen1.animemove.AnimeMoveActivity" />
        <activity android:name=".screen1.canvas.CanvasActivity" />
        <activity
            android:name=".screen1.tabbed.TabbedActivity"
            android:label="@string/title_activity_tabbed" />
        <activity
            android:name=".screen1.navibottom.BottomNaviActivity"
            android:label="@string/title_activity_bottom_navi" />
        <activity
            android:name=".screen1.navidrawer.NaviDrawerActivity"
            android:label="@string/title_activity_navi_drawer" />
        <activity
            android:name=".screen1.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".screen1.sensorstep.SensorStepActivity" />
        <activity android:name=".screen1.sensorprox.SensorProxActivity" />
        <activity android:name=".screen1.sensorori.SensorOriActivity" />
        <activity android:name=".screen1.text2speech.Text2SpeechActivity" />
        <activity android:name=".screen1.voiceinput.VoiceInputActivity" />
        <activity android:name=".screen1.excel.ExcelActivity" />
        <activity android:name=".screen2.conf.ConfActivity" />
        <activity android:name=".screen2.Main2Activity" />
        <activity android:name=".screen2.gallery2.Gallery2Activity" />
        <activity android:name=".screen2.camera.CameraActivity" />
        <activity android:name=".screen2.cameraparam.CameraParamActivity" />
        <activity android:name=".screen2.dragdrop.DragDropActivity" />
        <activity android:name=".screen2.bearing.BearingActivity" />
        <activity android:name=".screen2.compass.CompassActivity" />
        <activity android:name=".screen2.servicelst.ServiceLstActivity" />
        <activity android:name=".screen2.ringtone.RingtoneActivity"></activity>
    </application>

</manifest>