<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="milu.kiriu2010.excon2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camere" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/dado3d"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dado3d"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BossActivity"
            android:theme="@style/Theme.ChildTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".a0x.A0xActivity" />
        <activity android:name=".a0x.recycler.RecycleActivity" />
        <activity
            android:name=".a0x.rate.RateActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".a0x.animescale.AnimeScaleActivity" />
        <activity android:name=".a0x.seek.SeekActivity" />
        <activity android:name=".a0x.contextmenu.ContextMenuActivity" />
        <activity android:name=".a0x.temperature.TemperatureActivity" />
        <activity android:name=".a0x.stopwatch.StopWatchActivity" />
        <activity
            android:name=".a0x.customactionbar.CustomActionBarActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".a0x.dice.DiceRollerActivity" />
        <activity android:name=".a0x.largebmp.LargeBmpActivity" />
        <activity android:name=".a0x.traffic.TrafficLightActivity" />
        <activity android:name=".a0x.fibonnaci.FibonnaciActivity" />
        <activity android:name=".a0x.scan.ScanBarcodeActivity" />
        <activity android:name=".a0x.websearch.WebSearchActivity" />
        <activity android:name=".a0x.pinch.PinchActivity" />
        <activity android:name=".a0x.sensortemp.SensorTemperatureActivity" />
        <activity android:name=".a0x.sensorlight.SensorLightActivity" />
        <activity android:name=".a0x.animemove.AnimeMoveActivity" />
        <activity android:name=".a0x.canvas.CanvasActivity" />
        <activity
            android:name=".a0x.tabbed.TabbedActivity"
            android:label="@string/title_activity_tabbed" />
        <activity
            android:name=".a0x.navibottom.BottomNaviActivity"
            android:label="@string/title_activity_bottom_navi" />
        <activity
            android:name=".a0x.navidrawer.NaviDrawerActivity"
            android:label="@string/title_activity_navi_drawer" />
        <activity
            android:name=".a0x.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".a0x.sensorstep.SensorStepActivity" />
        <activity android:name=".a0x.sensorprox.SensorProxActivity" />
        <activity android:name=".a0x.sensorori.SensorOriActivity" />
        <activity android:name=".a0x.a01.A01Activity" />
        <activity android:name=".a0x.voiceinput.VoiceInputActivity" />
        <activity android:name=".a0x.excel.ExcelActivity" />
        <activity android:name=".a1x.conf.ConfActivity" />
        <activity android:name=".a1x.A1XActivity" />
        <activity android:name=".a1x.gallery2.Gallery2Activity" />
        <activity android:name=".a1x.camera.CameraActivity" />
        <activity android:name=".a1x.cameraparam.CameraParamActivity" />
        <activity android:name=".a1x.dragdrop.DragDropActivity" />
        <activity android:name=".a1x.bearing.BearingActivity" />
        <activity android:name=".a1x.compass.CompassActivity" />
        <activity android:name=".a1x.servicelst.ServiceLstActivity" />
        <activity android:name=".a1x.ringtone.RingtoneActivity"></activity>
    </application>

</manifest>